.profile{
    display:flex;
    flex-direction: column;
    justify-content: center;
} 
.profile > div{
    width:100%;
}
.profile img{
    margin-top:10px;
    max-width: 200px;
}
.personal-details{
    display:flex;
    flex-direction: row;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}
hr{
    width:80%;
}
.account-details{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.account-details > div{
    margin-left:20px;
}
.search{
    border-top: none;
    border-right: none;
    border-left: none;
}
.username{
    font-family: 'Fredoka One', cursive;
    font-size: 30px;
}
.bio{
    font-family: 'Courgette', cursive;
}

@media(max-width:768px){
    .personal-details{
        flex-direction: column;
    }
}