<form class="form-inline my-5">
    <input ngModel name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2" type="submit">Search</button>
</form>

<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" routerLink = 'profile'>Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" routerLink = 'repos'>Repositories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Followers</a>
    </li>
</ul>

<router-outlet></router-outlet>