<div class="profile" *ngIf="user">
    <div class="personal-details">
        <img [src]='user.avatar_url' class="img-fluid" alt="user_avatar">
        <p class='m-3'><span class="username"></span>{{user.login}}</p>
    </div>
    <hr>
    <div class="account-details">
        <div>
            <i class='fa fa-map-marker-alt'></i>
            {{user.location}}
        </div>
        <div>
            <span>Repos: </span>
            {{user.public_repos}}
        </div>
        <div>
            <span>Followers: </span>
            {{user.followers}}
        </div>
        <div>
            <span>Joined: </span>
            {{user.created_at | date}}
        </div>
    </div>
</div>
